@import './reboot';

.visibility-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@supports (container-type: inline-size) {
  .info {
    display: none;
  }

  .make-order {
    container-type: inline-size;
  }

  @container (max-width: 1199px) {
    .make-order__container:not(.container-query-polyfill) {
      max-width: 1020px;
    }
  }

  @container (max-width: 1139px) {
    .make-order__container:not(.container-query-polyfill) {
      max-width: 904px;
    }
  }

  @container (max-width:767px) {
    .make-order__container:not(.container-query-polyfill) {
      row-gap: 0;
    }
  }

  @container (max-width: 1439px) {
    .make-order__container:not(.container-query-polyfill) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      grid-template-areas:
        'left right'
        'form form';
      column-gap: 100px;
      row-gap: 50px;
    }
  }

  @container (max-width: 1439px) {
    .make-order__form-wrapper:not(.container-query-polyfill) {
      grid-area: form;
      margin: 0 auto;
    }
  }

  @container (max-width: 1199px) {
    .make-order__form-wrapper:not(.container-query-polyfill) {
      padding: 0 52px 0 370px;
    }
  }

  @container (max-width: 1139px) {
    .make-order__form-wrapper:not(.container-query-polyfill) {
      padding: 0 52px 0 260px;
    }
  }

  @container (max-width: 1023px) {
    .make-order__form-wrapper:not(.container-query-polyfill) {
      max-width: none;
      padding: 0 0 0 140px;
    }
  }

  @container (max-width: 767px) {
    .make-order__form-wrapper:not(.container-query-polyfill) {
      padding: 60px 4px 0;
      display: flex;
      flex-direction: column-reverse;
    }
  }

  @container (max-width: 1139px) {
    .make-order__text-wrapper:not(.container-query-polyfill) {
      z-index: 100;
    }
  }

  @container (max-width: 767px) {
    .make-order__text-wrapper:not(.container-query-polyfill) {
      margin: 0 0 20px;
    }
  }

  @container (max-width: 767px) {
    .make-order__help-text:not(.container-query-polyfill) {
      font-size: 0.875rem;
      line-height: 1.25rem;
    }
  }

  @container (max-width: 767px) {
    .make-order__title:not(.container-query-polyfill) {
      font-size: 1.25rem;
      line-height: 1.5rem;
      margin: 0 0 20px;
      text-align: center;
    }
  }

  @container (max-width: 1199px) {
    .make-order__image:not(.container-query-polyfill) {
      left: 20px;
      min-height: 240px !important;
      min-width: 140px !important;
    }
  }

  @container (max-width: 1139px) {
    .make-order__image:not(.container-query-polyfill) {
      z-index: 10;
      left: -20px;
    }
  }

  @container (max-width: 767px) {
    .make-order__image:not(.container-query-polyfill) {
      width: 184px;
      height: 244px;
      position: relative !important;
      left: 0;
    }
  }

  @container (max-width: 767px) {
    .make-order__image img:not(.container-query-polyfill) {
      width: 100% !important;
      height: 100% !important;
    }
  }

  @container (max-width: 1439px) {
    .make-order__image--left:not(.container-query-polyfill) {
      grid-area: left;
    }
  }

  @container (max-width: 1439px) {
    .make-order__image--left img:not(.container-query-polyfill) {
      margin-left: auto !important;
    }
  }

  @container (max-width: 1439px) {
    .make-order__image--right:not(.container-query-polyfill) {
      id-area: right;
    }
  }
}
.info,
.warning {
  padding: 1em;
  border: 1px solid #123456;
  background: rgba(205 230 255 / 0.8);
}
.warning {
  background: rgba(255 255 225 / 0.9);
}
.info p,
.warning p {
  margin: 0;
  padding: 0;
  color: #123456;
}
